torch==1.13.1	
easydict
einops
options
torchvision
SharedArray
opencv-python
pytorch_lightning==1.9.0
GPUtil
ipdb
termcolor
kornia
plyfile
pillow
scikit-image==0.18
numba
pycuda
open3d
scikit-learn
pyembree
piq
PyMCubes
tensorboard
